Data[[:space:]]of[[:space:]]AM-AlSi10mg/XCT[[:space:]]image[[:space:]]vedio[[:space:]]and[[:space:]]porosity[[:space:]]distribution/45-3[[:space:]]porosity[[:space:]]distribution[[:space:]]vedio.mpg filter=lfs diff=lfs merge=lfs -text
